courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Course" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Instructor" type="xs:string"/>
              <xs:element name="Duration" type="xs:string"/>
              <xs:element name="Rating" type="xs:decimal"/>
              <xs:element name="Price" type="xs:decimal"/>
              <xs:element name="Curriculum">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Topic" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>